@import "reset.css";

.cl-case-banner{height:674px;position:relative;overflow: hidden;}
.cl-case-banner li{position:absolute;left:0;top:0;right:0;height:674px;opacity:0;}
.cl-case-banner li a{position:absolute;right:0;bottom:0;left:0;top:0;}
.cl-case-banner .control-btn{position:absolute;left:0;right:0;width:100%;bottom:25px;text-align:center;z-index:2;}
.cl-case-banner .control-btn span{display:inline-block;margin:0 5px;width:16px;height:16px;background:#a8a8a8;border:1px solid #a8a8a8;-webkit-transition:0.6s;transition:0.6s;border-radius:50%;}
.cl-case-banner .control-btn span.active, .cl-case-banner .control-btn span:hover{background:none;}
.cl-case-banner .left-btn{
	z-index: 1;
	position: absolute;
	margin-top: -10px;
	left: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	-webkit-transform: rotateZ(-135deg);
	-ms-transform: rotateZ(-135deg);
	-o-transform: rotateZ(-135deg);
	transform: rotateZ(-135deg);
	cursor: pointer;
	opacity: 0;
	transition: 0.6s;
}
.cl-case-banner .right-btn{
	z-index: 1;
	position: absolute;
	margin-top: -10px;
	right: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	cursor: pointer;
	opacity: 0;
	transition: 0.6s;

}
.cl-case-banner:hover{
	.right-btn{
		right: 10%;	
		opacity: 1;
	}
	.left-btn{
		left: 10%;
		opacity: 1;

	}
}
